    .link-list {
    width:80%;
    margin: 0 0 10px 0;
    background-color: #f5f5f5;
    padding: 20px;
    }
    .link-list:hover {
    background-color: #d3d3d3;
    }
    .link-title {
    color: #277ca5;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #bdbdbd;
    border-bottom-style: dashed;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 15px 0px;
    font-family: arial;
    }
    .link-description {
    color: #666666;
    font-family: arial;
    }
    .info-wrapper {
    overflow:hidden;
    border-bottom: 1px solid #ccc;
    }
    #main-info {
    float:left;
    padding-right: 80px;
    width:400px;
    padding-bottom: 50px;
    }
    #contact {
    overflow:hidden;
    margin-bottom: 10px;
    min-width:150px;
    }
    .contact-row {
    overflow:hidden;
    display: table;
    margin-bottom:15px;
    }
    .contact-icon {
    float: left;
    padding-right:20px;
    }
    .contact-title {
    text-align:left;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    color: #666699;
    font-weight: bold;
    font-size: 16px;
    }
    .contact-container {
    margin-top: 25px;
    color: #666699;
    }
    .contact-items, .contact-items {
    display: table-cell;
    vertical-align: middle;
    }
    .callout-blue {
    width:80%;
    margin: 0 0 10px 0;
    background-color: #e5efff;
    padding: 20px;
    }
    .callout-blue:hover {
    background-color: #d2e3ff;
    }
    .callout-title {
    color: #003399;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 5px 0px;
    font-family: arial;
    }
    .callout-description {
    color: #666666;
    font-family: arial;
    }
    .primary-button {
    background-color: #666699;
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    }
    .primary-button:hover {
    background-color: #8686c9;
    }
    .yellow-alert {
    background-color: #f1f1f1;
    background-position: 1.8rem 1rem;
    background-repeat: no-repeat;
    background-size: 3rem;
    padding-bottom: 1.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    position: relative;
  display: flex;
  flex-direction: row;
    align-items: center;
 
    }
    .yellow-alert::before {
    background-color: #8b8b8b;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1rem;
    }
    .yellow-alert a {
    color: #205493;
    }
    .yellow-alert a:focus, .yellow-alert a:hover {
    color: #112e51;
    }
    .yellow-alert ul {
    margin-bottom: 0;
    margin-top: 1rem;
    padding-left: 1rem;
    }
    .yellow-alert-icon {
    display: table-cell;
    }
    .yellow-alert-body {
    display: table-cell;
    padding-left: 2rem;
    vertical-align: top;
    }
    .yellow-alert-heading {
    margin-top: 0;
    margin-bottom: 5;
    }
    .yellow-alert-text {
    font-family: "Arial", sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    }
    .yellow-alert-warning {
    background-color: #fff1d2;
    background-image: url("/images/pages/N75/alert.png");
    background-image: url("/images/pages/N75/alert.png");
    }
    .yellow-alert-warning::before {
    background-color: #fdb81e;
    }
    .link-list-group {
    float: left;
    width: 25%;
    padding: 10px;
    margin:5px;
    background-color: #f5f5f5;
    display: inline-block;
    }
    .title-text {
    color: #277ca5;
    font-size: 16px;
    }
    .link-list-row-3:after {
    content: "";
    display: table;
    clear: both;
    }
    @media (max-width: 600px) {
    .link-list-group {
    width: 100%;
    }
    }
    .list-link-group img {
    max-width: 100%;
    max-height: 100%;
    }
    .img-icon {
    width: 20px;
    padding-left: 10px;
    }
    .red-bar {
    background-color: #cc0033;
    margin:0;
    width: 100%;
    min-height: 20px;
    }
    .report-column {
    float: left;
    width: 50%;
    }
    .report-row:after {
    content: "";
    display: table;
    clear: both;
    }
    .report-row {
    padding-top: 15px;
    }
    .report-col {
    padding: 20px;
    background-color: #f5f5f5;
    }
    .report-column a {
    text-decoration: none;
    }
    .report-title {
    color: #000000;
    font-size: 16px;
    font-family: "arial";
    text-transform: uppercase;
    text-weight: bold;
    }
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media (max-width: 600px) {
    .report-column {
    width: 100%;
    }
    }
    .report-col img {
    max-width: 100%;
    max-height: 100%;
    }
    .img-icon {
    width: 20px;
    padding-left: 10px;
    }
    .info-steps-wrapper {
    overflow:hidden;
    border-bottom: 1px solid #e5efff;
    padding-bottom:15px;
    padding-top: 15px;
    }
    .col-wrapper div {
    min-height: 200px;
    padding: 10px;
    }
    .left-step {
    float:left;
    margin-right:20px;
    width:150px;
    }
    .step-info {
    overflow:hidden;
    min-height:100px;
    display:flex;
    align-items:center;
    }
    @media screen and (max-width: 400px) {
    .left-step {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    }
    }
    .left-step img {
    max-width: 100%;
    max-height: 100%;
    }
    .img-col {
    width: 100px;
    }
    .title-step {
    font-family: "arial";
    font-size: 20px;
    color: #277ca5
    }
    .col-callout-wrapper {
    overflow:hidden;
    }
    .col-callout-wrapper div {
    padding: 10px;
    }
    .left-callout-col {
    float:left;
    margin-right:20px;
    width:250px;
    }
    .right-callout-col {
    overflow:hidden;
    }
    @media screen and (max-width: 400px) {
    .left-col {
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    }
    }
    .left-callout-col img {
    max-width: 100%;
    max-height: 100%;
    }
    .img-callout-col {
    width: 250px;
    }

<!-- Members Table -->
#members {
    border-collapse: collapse;
    width: 100%;
}

#members td, #customers th {
    border: 1px solid #fff;
    padding: 12px;
    background-color: #f5f5f5;
    color: #333333;
}

#members th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #666666;
    color: white;
    padding-left: 10px;
    border: 1px solid #fff;
    font-weight: bold;
}

<! Newsletter Callout -->

.newsletter-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e3e7ea;
  align-items: center;
  line-height: 2;
  border-radius: 5px;
}

.newsletter-column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .newsletter-column {
    flex: 1;
  }
}
@media screen and (min-width: 800px) {
  ._25 {
    flex: 2.5;
  }
  ._55 {
    flex: 5.5;
  }
  ._20 {
    flex: 2;
  }
}
.newsletter-button {
    background-color: #003399; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
.newsletter-button:hover {
background-color: #4c70b7;
}

<!-- Card Callout -->
aside {
  box-shadow: 0px 1px 4px rgba(0,0,0,.4);
  margin: 8px 4px;
  min-width: 50%;
  max-width: 480px;
}

cta-block * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  outline: 0;
}

.cta-link {
  min-height: 32px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
}
/* Card 3 */

.card3 .cta-link {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #7aa3a3 0%, #e0efef 100%);
  background-size: cover;
  text-align: left;
  overflow: hidden;
}

.card3 .cta-link::after {
  content: '🏊';
  position: absolute;
  font-size: 12rem;
  bottom: -5rem;
  right: 50%;
  margin-right: -5rem;
  transition: right 2s;
  opacity: .5;
  mix-blend-mode: overlay;
}

.card3 .cta-line1 {
  font-size: 1.5rem;
  color: rgba(255,255,255,.5);
}

.card3 .cta-line2 {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: -.05em;
  font-size: 3.5rem;
  padding: .5rem 0;
  z-index: 1;
}

.card3 .cta-line3 {
  text-align: right;
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgba(0,8,128,0) 0%,rgba(204, 0, 51,1) 100%);
  background-blend-mode: multiply;
  padding: .5em;
  border-radius: 4px;
  z-index: 1;
}

.card3 span {
  color: #ffffff;
}

.card3:hover .cta-link::after {
  right: 100%;
}

.blue-alert::before {
    background-color: #8b8b8b;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1rem;
    }
    .blue-alert a {
    color: #205493;
    }
    .blue-alert a:focus, .blue-alert a:hover {
    color: #BAEAFD;
    }
    .blue-alert ul {
    margin-bottom: 0;
    margin-top: 1rem;
    padding-left: 1rem;
    }
    .blue-alert-icon {
    display: table-cell;
    }
    .blue-alert-body {
    display: table-cell;
    padding-left: 2rem;
    vertical-align: top;
    }
    .blue-alert-heading {
    margin-top: 0;
    margin-bottom: 5;
    }
    .blue-alert-text {
    font-family: "Arial", sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    }
    .blue-alert-warning {
    background-color: #BAEAFD;
    background-image: url("/images/pages/N75/alert.png");
    background-image: url("/images/pages/N75/alert.png");
    }
    .blue-alert-warning::before {
    background-color: #003399;
    }
